*.log
health_check.log

app/node_modules/
app/.next/
app/out/
app/build/
app/.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfplan
*.tfvars
*.tfvars.json
crash.log
crash.*.log
